html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

li {
    list-style: none;
}
.container {
    padding:0 15px;
    margin: 0 auto;
    width:1140px;
}
body{
  margin: 0px;
  padding: 0px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p{
  font-family: Arial, Helvetica, sans-serif;
}

header{
header {
    background-color: rgba(22, 160, 133,0.5);
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 10;
    top:0;
}
.left-header {
    display: block;
    float: left;
    font-size: 12px;
    letter-spacing: 4px;
    margin: 18px 10px;
    color: white;
    font-family:monospace;
    font-weight: bold;
    text-align : center;
    line-height: 14px;
}
.right-header li {
   float: right; 
   margin: 20px 10px;
   font-size: 15px;
   color: white;
   font-family: monospace;
   font-weight:bold;
   cursor: pointer;
}
.main {
    background-image: url("https://images.pexels.com/photos/3830745/pexels-photo-3830745.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3830745.jpg&fm=jpg");
    background-size: cover;
    text-align: left;
    height: 200px;
    width: 100%;
    padding: 100px 0px;
}
.main-text {
    margin-top: 58px;
    margin-left: 580px;
    color: white;
}
.main-text h1{
    letter-spacing: 2px;
    font-size: 36px;
    padding-bottom: 5px;
}
.main-text p {
    letter-spacing: 1px;
    font-size: 15px;
}

main{
  padding: 20px 350px;
  background-color: rgb(185, 202, 146);
}

.opening{
  width: 100%;
  display: flex;
  align-items: center;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}
.title{
  width: 50%;
}
.title h1{
  font-size: 40px;
}
.opening-desc p{
  text-align: justify;
  font-size: 16px;
}
.opening-desc{
  width: 50%;
  padding-left: 40px;
}

.talent{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: solid 1px grey;
 padding: 10px 0px;
}
.talent img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgb(153, 175, 149);
}
.profile-pict{
  padding:10px 20px;
  width: 50%;
}
.profile-desc{
  width: 50%;
  padding: 0px 20px;
}
.profile-desc p{
  margin: 10px 0px;
  font-size: 14px;
}
.left img{
  float: right;
}
.right p{
  text-align: right;
}

.words{
  text-align: justify;
}
.name{
  font-weight: bold;
}
.email{
  font-style: italic;
}
