body{
  margin: 0px;
  padding: 0px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  width: 100%;
  height: 180px;
  background-color: black;
  background-image: url(img/img.jpg);
  background-repeat: no-repeat;
  background-position:50% 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container{
  margin-top: 115px;
}
.logo h1{
  color: white;
}

main{
  padding: 20px 350px;
  background-color: rgb(185, 202, 146);
}

.opening{
  width: 100%;
  display: flex;
  align-items: center;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}
.title{
  width: 50%;
}
.title h1{
  font-size: 40px;
}
.opening-desc p{
  text-align: justify;
  font-size: 16px;
}
.opening-desc{
  width: 50%;
  padding-left: 40px;
}

.talent{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: solid 1px grey;
 padding: 10px 0px;
}
.talent img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgb(153, 175, 149);
}
.profile-pict{
  padding:10px 20px;
  width: 50%;
}
.profile-desc{
  width: 50%;
  padding: 0px 20px;
}
.profile-desc p{
  margin: 10px 0px;
  font-size: 14px;
}
.left img{
  float: right;
}
.right p{
  text-align: right;
}

.words{
  text-align: justify;
}
.name{
  font-weight: bold;
}
.email{
  font-style: italic;
}